@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #EEEEEE;
}

@keyframes moveRight {
  0% { 
    opacity: 0%; 
  }
  100% { 
    transform: translateX(320px); 
    opacity: 100%; 
  }
}

.animate-spin-moveRight {
  animation: moveRight 3s ease-in-out forwards;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#MapContainer{
  height:500px;
  width:50%;
}

